<form class="search" action="/search">
  <input class="inputfield" type="text"
    placeholder="Search Here"
    name="q"
    value="{{ search.terms | escape }}"
 >
  <input class="submitbtn" type="submit" value="Search">
</form>
