<style>
.cs-breadcrumb{
    display: flex;
    align-items: baseline;
    gap: 8px;
}
.template-product .main-product-breadcrumbs{
  margin-bottom: 12px;
}  
</style>
<nav class="main-product-breadcrumbs hdt-breadcrumb" role="navigation" aria-label="breadcrumbs">
              <ul class="cs-breadcrumb hdt-text-base hdt-font-normal hdt-breadcrumb-list">
                <li style="color:#575757" class="hdt-breadcrumb-item hdt-inline-block hdt-s-text2">
                  <a href="{{ routes.root_url }}">HOME</a>
                </li>
                <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8" class="hdt-s-text2 hdt-inline-block" fill="#092333">
                  <path d="M0.886718 3.49691e-07L4.88672 4L0.886719 8L0.176719 7.29L3.46672 4L0.176719 0.71L0.886718 3.49691e-07Z"/>
                </svg>
                <li style="color:#575757" class="hdt-breadcrumb-item hdt-inline-block hdt-s-text2">
                 PRODUCT DETAIL
                </li>
              </ul>
  </nav>